<?xml version="1.0" encoding="UTF-8"?>
<phpunit
		bootstrap='tests/bootstrap.php'
		stopOnError='false'
		stopOnFailure='false'
		stopOnIncomplete='false'
		stopOnSkipped='false'
		verbose='true'>
	<testsuites>
		<testsuite name="model">
			<directory suffix="Test.php">tests</directory>
		</testsuite>
	</testsuites>
</phpunit>